<a href="<%= url_for(dog) %>">
  <article>
    <h2 class="dog-name"><%= dog.name %></h2>
    <%= image_tag url_for(dog.images.first), size:"300x300", class: "dog-photo", alt: "Photo of #{dog.name}" %>
  </article>
</a>
